<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>
			<h1>Arden Lee</h1>
			<div class="main-flex">
				<div class="main-flex-text">
					<h3>I am an interior designer.</h3>
					<p>I use elements of style and design to transform interiors into healthy and pleasing spaces.</p>
				</div>
				<a href="#"><img src="Nav Arrow new.png"></a>
			</div>
		</main>
		<section class="about">
			<section class="about-me">
				<h2>About me</h2>
			</section>
			<section class="about-main">
				<img src="top section img new.png">
				<section class="about-p">
					<div>
					<p class="about-p-1">I graduated from De Loureigh University's Interior Architecture and Design program.</p><p>I worked as an Interior Designer at top firms Jeffries and Madison Co. and Davis Thorne and Partners before starting my own practice.</p>
					</div>
					<p class="about-p-2">My personal passion lies in sustainable interior design, but I have extensive experience in residential interior design, commercial interior design, retail design and space planning.</p>
				</section>
			</section>
		</section>
		<section class="works">
			<img src="second section img new.png">
			<section class="works-text">
				<h2>Selected works</h2>
				<div>
					<h4>Residential Project A</h4>
					<p>Full interior design of client's single-detached home</p>
				</div>
			</section>
		</section>
		<section class="project-a">
			<div>
				<img class="A-img1" src="3rd section img1 new.png">
				<img class="A-img2" src="3rd section img2 new.png">
			</div>
			<p>At the client's request, the project theme was minimalist and modern. </p>
		</section>
		<section class="project-b">
			<section class="project-b-small">
				<img src="4th section img1 new.png">
				<h4>Condominium Project B</h4>
				<p>Full interior design of client's three-bedroom condo unit</p>
			</section>
			<section class="project-b-big">
				<img src="4th section img2 new.png">
			</section>
		</section>
		<section class="project-b-2">
			<img class="sec5-img1" src="5th section img1 new.png">
			<img class="sec5-img2" src="5th section img2 new.png">
			<img class="sec5-img3" src="5th section img3 new.png">
			<p>The theme was contemporary with dark color accents.</p>
		</section>
		<section class="project-c">
			<section class="project-c-big">
				<img src="6th section img1 new.png">
			</section>
			<section class="project-c-small">
				<h4>Bachelor's Pad Project C</h4>
				<p>Full interior design of client's two-bedroom apartment</p>
				<img src="6th section img2 new.png">
			</section>
		</section>
		<section class="final">
			<h2>I enjoy the challenge of transforming a space into something fresh and engaging.</h2>
			<span>Arden Lee</span>
		</section>
		<footer>
			<section class="footer-sec1">
				<h2>Let's work together</h2>
			</section>
			<section class="footer-sec2">
				<img src="footer img new.png">
				<div class="footer-line"></div>
				<div class="footer-spans">
					<span>ADDRESS</span>
					<span class="span2">123 Anywhere St., Any City
						State, Country 12345</span>
				</div>
				<div class="footer-line"></div>
				<div class="footer-spans">
					<span>PHONE</span>
					<span class="span2">(123) 456 7890</span>
				</div>
				<div class="footer-line"></div>
				<div class="footer-spans">
					<span>EMAIL</span>
					<span class="span2">hello@reallygreatsite.com</span>
				</div>
			</section>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
